
<div class="container">

<h1>WElCOME</h1>
<a href="/users/register" class="button primary">register</a>
<a href="/users/login" class="button primary">login</a>
</div>

<section id="header">  
        
<header class="major" style="margin-top:50px">
  <h1>PROGUE</h1>
 
</header>
<div class="container" style="margin-left:-570px">
  <ul class="actions special">
    <li><a href="#one" class="button primary scrolly">Begin</a></li>
  </ul>
</div>
</section>

<section id="one" class="main special">
<div class="container">
  <span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>
  <div class="content">
    <header class="major">
      <h2>simplBlog app</h2>
    </header>
    <p>
    This App is a blog web mobile using responsive practice and React js combined with a Backend making it called the MERN stack.
     </p>
     <a class="button primary" href='/create' name="jonathan">Add blog</a> 
  </div>
</div>
</section> 